*{
	margin: 0;
}
@font-face{
	src:  url('fonts/Bebas Neue/BebasNeue-Regular.ttf');
	font-family: Bebas-Neue;
}
@font-face{
	src:  url('fonts/Kanit/Kanit-ExtraLightItalic.ttf');
	font-family: kanit;
}
@font-face{
	src:  url('fonts/Prompt/Prompt-MediumItalic.ttf');
	font-family: prompt;
}
@font-face{
	src:  url('fonts/Lobster/Lobster-Regular.ttf');
	font-family: lobster;
}

@media screen and (max-width: 600px) {
	img{
		width: 30px;
		height: 30px;
	}
	label{
		font-size: 8px;
	}
	p{
		padding-left: 40px;
	}
}
@media screen and (min-width: 600px) and (max-width: 960px){
	img{
		width: 30px;
		height: 30px;
	}
	label{
		font-size: 15px;
	}
	p{
		padding-left: 40px;
	}
}

body{
	background-color: #16537e;
	color: ghostwhite;
	text-align: center;
}
header{
	font-family: Bebas-Neue;
	font-size: 50px;
	background-color: #073763;
	padding: 20px;
	letter-spacing: 2.5px;
	border: 1px solid black;
	border-radius: 3px;
}
p{
	font-family: kanit;
	letter-spacing: 2px;
	padding-top: 10px;
	text-shadow: 2px 1.5px 0.5px darkcyan;
}
p span{
	color: darkgrey;
	text-shadow: none;
}
#goodluck{
	font-family: lobster;
	font-size: 40px;
	color: palegoldenrod;
	background-color: transparent;
	padding: 10px;
}
section label{
	font-family: prompt;
	font-size: 25px;
	color: grey;
	background-color: #dcb029;
	padding: 3px 13px;
	border-radius: 18px;
}
#level{
	font-family: prompt;
	font-size: 25px;
	background-color: #bcbcbc;
	width: 110px;
	border-radius: 5px;
	border: 1.5px solid goldenrod;
}
#btn-level{
	font-family: Bebas-Neue;
	font-size: 25px;
	letter-spacing: 1.6px;
	background-color: #8fce00;
	color: whitesmoke;
	border-radius: 5px;
	border: 1.5px solid;
	padding: 5px 10px;
	margin-left: 10px;
}
.important-color{
	color: #ffd966;
	text-shadow: none;
}
#btn-level:hover{
	background-color: #00bfff;
}
.message{
	display: inline-block;
	text-shadow: none;
	border: 1px solid transparent;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
}
.board{
	display: none;
	font-family: lobster;
	font-size: 10px;
	position: fixed;
	top: 100px;
	left: 0px;
	background-color: antiquewhite;
	border: 5px solid goldenrod;
	border-radius: 10px;
	width: 15%;
	height: 50%;
	color: darkcyan;
	overflow: auto;
}

#board{
	position: fixed;
	top: 250px;
	left: 5px;
}

.board button{
	background-color: indianred;
	color: ghostwhite;
	padding: 0px 5px;
}

ol, ol li{
	border-bottom: 1px solid black;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
#content-wrap {
	padding-bottom: 3.5rem;    /* Footer height */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5rem;            /* Footer height */
	background-image: linear-gradient(#164C7E,#20124d);
    color: whitesmoke;
}
#footer h6{
	font-family: prompt;
  	padding: 20px;
}